# Ignore node_modules and npm/yarn lock files
node_modules
npm-debug.log
yarn.lock
.pnpm-debug.log


# Ignore build output
.next
out

# Ignore logs
logs
*.log

# Ignore IDE or editor config files
.vscode
.idea
*.swp

# Ignore any local temporary files
.DS_Store
*.tmp